#chat{
    height:1000px;
    background-color:#222;
    border-radius:1% 1%;
    color:#FFF;
    margin-bottom:30px;
    padding : 2% 5%;
    overflow-x: auto;
    
}

#body{
    margin-top:20px;
}

.message{
    padding-top:20px;
    padding-bottom:20px;
}

.message.actif{
    text-align:right;
}

#write-btn{
    background-color:#222;
}

div.row.reponse{
    margin-top:10px;
    margin-left:50px;
    padding-left:10px;
}


