#home {
	background: #161415 url("../img/MinesGardanne.jpeg") no-repeat center center;
	background-size: cover !important;
    -webkit-background-size: cover !important;
    transform: translate(0px, -20px);

}

.titre{
    text-align:center;
    color: #FFF;
    transform:translate(0px, 400%);
    letter-spacing: 2px;
    font-weight:bold;
    font-size: 60px;
}


