<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-12" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{%url 'chat.index'%}">Assos +</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-12">
                <ul class="nav navbar-nav">
                    <li {% if active_tab == 'Codypen' %}class="active"{% endif %}><a href="{%url 'codypen.index'%}">Codypen <span class="sr-only">Codypen</span></a></li>
                    <li {% if active_tab == 'Chat' %}class="active"{% endif %}><a href="{%url 'chat.index'%}">Chat <span class="sr-only">Chat</span></a></li>
                    <li {% if active_tab == 'Associatif' %}class="active"{% endif %}><a href="{%url 'cotisation.index'%}">Associatif <span class="sr-only">Associatif</span></a></li>
                
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {%if request.user.is_authenticated%}
                    
                    <li class="dropdown {% if active_tab == 'MonCompte' %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon Compte <span class="sr-only">Mon Compte</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{%url 'client.index'%}"> Mon Profil </a></li>
                            <li><a href="{%url 'client.mes_associations'%}"> Mes Associations </a></li>
                            <li><a href="{%url 'client.mes_evenement'%}"> Mes Evenements </a></li>
                            <li><a href="{%url 'client.mes_votes'%}"> Mes Votes </a></li>
                        </ul>
                    </li>
                    <li {% if active_tab == 'Login' %}class="active"{% endif %}><a href="{%url 'logout'%}">LogOut <span class="sr-only">LogOut</span></a></li>
                    {%else%}
                    <li {% if active_tab == 'Login' %}class="active"{% endif %}><a href="{%url 'login'%}">LogIn <span class="sr-only">LogIn</span></a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
</div>