<nav class="navbar navbar-default">      
    <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vente-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="vente-navbar">
            <ul class="nav navbar-nav">
                {%for type in types%}
                <li class="nav-item">
                    <a class="navbar-brand" onclick="$('.type').css('display', 'none'); $('#{{type.pk}}').css('display', 'block');">{{type.nom}}</a>
                </li>
                {%endfor%}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="navbar-brand" href="{%url 'comif.gestion'%}">Gestion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>